<footer>
    <div class="text-light text-center align-middle footer">
        <div class="align-middle">
            ©2020 Vanilla Nya - bringing you this wonderful, potentially stable website.
        </div>
    </div>
</footer>