<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Catgirl.me ♥</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
      <% if(!locals.loggedIn) { %>
        <li class="nav-item" id="login"><a class="nav-link" href="/user/login/">LOGIN</a></li>
        <li class="nav-item" id="register"><a  class="nav-link" href="/user/register/">REGISTER</a></li>
      <% } else { %>
        <li class="nav-item" id="hosting"><a class="nav-link" href="/hosting/">HOSTING</a></li>
        <li class="nav-item" id="logout"><a class="nav-link" href="/user/logout/">LOGOUT</a></li>
      <% } %>
    </ul>
  </div>
</nav>