<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" href="../stylesheets/hosting.css">
</head>
<body>
<% include partials/menu %>
<div class="container-fluid text-center" id="hostingContainer">
    <div class="container">
        <h1>Image Hosting</h1>
        <div>
            <p class="textBox">Since this is a private service, in order to use image hosting, you need to be manually verified. If your account is verified for image hosting, you may use the API key below in correspondence with the explanation below to create POST requests to the server. Your API key allows access to upload to your account. Treat it like a password.</p>
        </div>

        <% if(!locals.loggedIn || !(locals.loggedIn.hostingVerified)) { %>
        <div class="alert alert-danger" role="alert">
            <strong>Your account status: </strong> Not verified.
        </div>
        <% } else { %>
        <div class="alert alert-success" role="alert">
            <strong>Your account status: </strong> Verified.
        </div>
        <% } %>
        
        <hr />

        <% if(locals.loggedIn && locals.loggedIn.hostingVerified) {  %> 

        <% if(locals.loggedIn.apiKey) { %>
        <button class="btn btn-primary" type="button" id="copyKey">
            Copy API Key
        </button>
        <% } else {%>
        <button class="btn btn-primary" type="button" disabled="true" id="copyKey">
            No API Key set
        </button>
        <% } %>


        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#refreshKey">
            Create new API key
        </button>


        <h2>Sending a request</h2>
        <p class="textBox">To upload an image, send a POST request (multipart/form-data) with:</p>

        <table class="table">
            <thead class="thead-dark">
            <tr><th>Key</th><th>Value</th></tr>
        </thead>
        <tbody>
            <tr><td>api_key</td><td>
              <div id="keyValue"><% if(locals.loggedIn.apiKey) { %><%= locals.loggedIn.apiKey %><% } else { %>[No API Key created]<% } %></div>

            </td></tr>
            <tr><td>file</td><td>[Your file data]</td></tr>
        </tbody>
        </table>

        <div class="modal fade" id="refreshKey" tabindex="-1" role="dialog" aria-labelledby="refreshKeyLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="refreshKeyLabel">Are you sure?</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Generating a new API key means your old key is no longer valid for uploading. Any image upload must happen via your new  key. Use this functionality if you accidentally sent your key to someone else, or someone is using your key to upload files.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" id="confirmNewKey">I am sure!</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Abort</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="errorModalLabel">Whoops..</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  There was an error trying to update your API key. You may have caused this by trying to refresh your key too many times - if that is the case, please wait 5 minutes before trying again. Otherwise, please contact the system nyadministrator.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal">Okay..</button>
                </div>
              </div>
            </div>
          </div>

        <% } %>
    </div>
</div>
</body>
<% include partials/script %>
<script src="../javascripts/keygen.js"></script>
<% include partials/footer %>
</html>