<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" href="./stylesheets/index.css">
</head>
<body>
<% include partials/menu %>
<div class="jumbotron-fluid" id="j-header">
  <div class="container text-center" id="hero-container">
    <h1 id="hero-message">Catgirl.me</h1>
  </div>
</div>
</body>
<% include partials/script %>
<% include partials/footer %>
</html>