<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<% include partials/menu %>
<div class="container-fluid" id="loginContainer">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<%if (loginErr.length > 0) { %>
					<div class="alert alert-danger" role="alert">
						<div><strong>Error:</strong> <%= loginErr %></div>
					</div>
				<% } %>
				<form method="post" action="/user/login/">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-users"></i></span>
						</div>
						<input type="text" name="username" class="form-control" placeholder="E-Mail">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="password" name="password" class="form-control" placeholder="Password">
					</div>
					<div class="form-group">
						<input type="submit" value="Login" class="btn float-right login_btn">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
<% include partials/script %>
<% include partials/footer %>
</html>