<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" href="/stylesheets/register.css">
 <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<% include partials/menu %>
<div class="container-fluid" id="registerContainer">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign Up</h3>
			</div>
			<div class="card-body">
				<%if (loginErr.length > 0) { %>
					<div class="alert alert-danger" role="alert">
						<div><strong>Error:</strong> <%= loginErr %></div>
					</div>
				<% } %>
				<form method="post" action="/user/register/">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-users"></i></span>
						</div>
                        <input type="text" class="form-control" name="username" placeholder="Username">						
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input type="text" class="form-control" name="email" placeholder="E-Mail">
                    </div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fa fa-key"></i></span>
						</div>
						<input type="password" class="form-control" name="password" placeholder="Password">
					</div>
					<div class="g-recaptcha" data-sitekey="6Ld3_NcUAAAAAMoL1dgnhXfOUDRFYP481rX7WV8w" style="margin-bottom:10px; transform: scale(0.85); -webkit-transform: scale(0.85); transform-origin: 0 0; -webkit-transform-origin: 0 0;"></div>
					<div class="form-group">
						<input type="submit" value="Register" class="btn float-right login_btn">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
<% include partials/script %>
<% include partials/footer %>
</html>