#hostingContainer
{
    background-color:#e9e9e9;
    height:85.7vh;
    width:100%;
    padding-top:4vh;
}

.textBox
{
    max-width:60ch;
    display:inline-block;
}

.explanation-collapse
{
    display:inline-block;
}

.alert
{
    max-width:300px;
    display:inline-block;
}

h2 
{
    margin-top:10px;
}