#j-header 
{
    background-image: url("../images/bg-image.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height:85.7vh;
    padding-top:8vh;
}

#hero-container 
{
    display:inline;
}

#hero-message
{
    padding-bottom:2vh;
    color:white;
    background: rgba(0, 0, 0, 0.527);
    font-size:10vmin;
    width:100%;
}