#registerContainer
{
    background-image: url("../images/register-bg-image.jpg");
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height:85.7vh;
    width:100%;
    padding-top:8vh;
}
    
.card
{
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-header h3
{
    color: white;
}

.input-group-prepend span
{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}
    
input:focus
{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important; 
}
    
.remember
{
    color: white;
}
    
.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn
{
    color: black;
    background-color: #FFC312;
    width: 100px;
}
    
.login_btn:hover
{
    color: black;
    background-color: white;
}

.fa
{
    margin-left:4px;
}