html 
{
  min-width:280px;
  max-width:3840px;
  min-height:320px;
  max-height:2160px;
}

body
{
  background-color:#353535;
}

.navbar 
{
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 2px;
}

.navbar-nav  li a:hover 
{
  color: #d937ee !important;
}
.active>a 
{
color: #d937ee !important;;
}

.footer
{
  font-size:max(1.5vmin,10px);
  height:7vh;
  background-color:#181616;
  padding-top:2.5vh;
}